{% extends "base.html" %}


{% block content %}
    {% for review in reviews %}
        <div id='view-review' class='col-lg-12 review-node jumbotron'>
        	<div class='row-fluid'>
        		<div class='col-lg-6'>
	            <p><b>Title:</b> <span class='title'>{{ review.title }}</span></p>
	    				<p><b>Location:</b> <span class='location'>{{ review.location }}</span></p>
	            <p><b>Rating:</b> <span class='stars' data-star-count="{{ review.star_rating }}"></span></p>
	            <p><b>Review:</b> <span class='review'>{{ review.description }}</span></p>
	            <p><b>Date Posted:</b> <span class='date'>{{ review.date }}</span></p>
	          </div>
	          <div class='col-lg-6'>
          	 	<div class='map' id="map-canvas"></div>
	          </div>
          </div>
        </div>
    {% endfor %}
{% endblock content %}