{% extends "base.html" %}


{% block content %}
    <div class="jumbotron">
        <h2>
        	Check out our amazing reviews!
        </h2>
        <p>
        	Have something you want to say? <a href='/reviews/add'>Create a review.</a>
        </p>
    </div>

    <div class="container-fluid" id='reviews-wrapper'>
        <label class='lead'>Search for:</label><input type='text' id='search-filter' />

    	{% for review in reviews %}
         <div class='col-lg-12 review-node jumbotron'>
            <p><b>Title:</b> <span class='title'>{{ review.title }}</span></p>
    		<p><b>Location:</b> <span class='location'>{{ review.location }}</span></p>
            <p><b>Rating:</b> <span class='stars' data-star-count="{{ review.star_rating }}"></span></p>
            <p><b>Review:</b> <span class='review'>{{ review.description }}</span></p>
            <p><b>Date Posted:</b> <span class='date'>{{ review.date }}</span></p>
            <p><a href='/review/{{ review.identifier }}'>Check this review out.</a></p>
        </div>
	   {% endfor %}
    </div>
{% endblock content %}